body {
  font-family: "Lato", sans-serif;
}

.sidebar {

  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7f7f7;
  overflow-x: auto;
  padding-top: 16px;
  border-left: 1px solid #f7f7f7;
  box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2)
}

.sidebar-collapsed {
  display: none;
  transition: .5s;
  -webkit-transition: .5s;
}
.sidebar a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  padding: 16px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #444;
  padding: 10px 10px;
  border: none;
  position: absolute;
  z-index: 1;
  right:0;
}

.openbtn:hover {
  background-color: #f0f0f0;
}

.main {
  padding: 16px;
  margin-right: 25%;
}

.main-collapsed {
  margin-right: 40px;
  transition: .5s;
  -webkit-transition: .5s;
}

.left-zero {
  left: 0px;
  width: 95%;
  transition: .5s;
  -webkit-transition: .5s;}

.btn-collapsed{
  right:0;
  transition: .5s;
  -webkit-transition: .5s;
}

#preview {
  height: 25%;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(212, 255, 241);
}

.form-group {
  display: inline-flex;
  width: 100%;
  padding: 16px;
}

.form-group-label {
  display: inline-block;
  margin-right: 16px;
  line-height: 1.5;
  padding: .375rem .75rem;

}


.form-control-select{
  display: block;
  float: left;
  width: 100%;
  margin-right: 40px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
}

.tab1, .tab2 {
  padding: 16px;
}

.tab1 > table, .tab2 > table {
  width: 100%;
  padding: 16px;
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  border-radius: .25rem;
}

table > tr {
  border-bottom: 1px solid #f7f7f7;

}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.display {
  display: none;
}

